<!doctype html>
<html>
    <head>
        <title>Express</title>
    </head>
    <body>
        <form action="/" method="post">
            <input type="text" name="username" placeholder="Enter Username">
            <input type="submit" value="push">
        </form>
    </body>
</html>